@charset "utf-8";
/* CSS Document */

body{
	
	
font-family:  Calibri, sans-serif; 

	background-image:  url("../Imagenes/biology.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 0%;	
}

.whatis {
	
	
	font-size: 120%; 
	margin-left: 25%;
	margin-right: 25%;
	justify-content: center;
		

}



.textbelowimg{
	
color: #8C8C8C

}	
.imgvegeta{
	
    float: right;
}

.imgvegans{
	
	float: right;
}

/**estilo pie de pagina*/

footer{
	
	margin-top: -1px;
	width: 96%;
	padding: 40px;
	clear: both;
	background: #83B85E;
	text-align: center;
	font-size: 120%
	
	
	
}

.footpage{
	
	text-align: center;
	text-decoration: none;
	color: #000000

	
}

	
	
	
	
	
	
	

	


	

	
	
	
	
	
	


 



