@charset "utf-8";
/* CSS Document */

body{
	
	background:#F0F0F0;
font-family:  Calibri, sans-serif; 

	background-image:  url("../Imagenes/math.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 0%;	

}


.allbody{
	
	font-size: 120%; 
	margin-left: 25%;
	margin-right: 25%;
	justify-content: center;
			
	}

footer{
	
	margin-top: -1px;
	width: 96%;
	padding: 40px;
	clear: both;
	background: #A7D9F5;
	text-align: center;
	font-size: 120%
	
	
	
}
			
	
	
	






